/* Header styling */
.header {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px; /* Increase the width of the image */
  height: auto; /* Ensure the aspect ratio is maintained */
  margin-left: 50px;
  cursor: pointer;
}

.text-wrapper {
  flex-grow: 1;
  text-align: center;
}

h1 {
  margin-right : 10px;
}

/* Add some spacing between the search box and the cards */

