.header {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px; 
  height: auto; 
  margin-left: 50px;
  cursor: pointer;
}

.text-wrapper {
  flex-grow: 1;
  text-align: center;
}

h1 {
  margin-right : 10px;
}


