<div class="search-container">
  <input type="text" [(ngModel)]="searchTerm" placeholder="Search by name or region" />
  <button (click)="filterLaunchpads()">Search</button>
</div>

<div class="launchpad-container">
  <div class="launchpad-card" *ngFor="let launchpad of pagedLaunchpads">
    <div class="card-header">
      <div class="avatar">
        <img [src]="launchpad.images?.large?.[0] || 'default-image-url'" alt="launchpad-image" />
      </div>
      <div class="profile-details">
        <h1>{{ launchpad.name }}</h1>
        <div class="profile-info">
          <p><strong>ID:</strong> {{ launchpad.id }}</p>
          <p><strong>Region:</strong> {{ launchpad.region }}</p>
        </div>
        <div class="profile-role">Launches Attempted: {{ launchpad.launch_attempts }}</div>
        <div class="profile-role">Status: {{ launchpad.status }}</div>
        <div class="profile-role">
          Details:
          <span *ngIf="launchpad.details.length <= 100">{{ launchpad.details }}</span>
          <span *ngIf="launchpad.details.length > 100 && !launchpad.showMore">
            {{ launchpad.details.slice(0, 100) }}
            <button (click)="launchpad.showMore = true">Read more</button>
          </span>
          <span *ngIf="launchpad.details.length > 100 && launchpad.showMore">
            {{ launchpad.details }}
            <br />
            <button (click)="launchpad.showMore = false">Read less</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pagination, to go to next page -->
<div class="pagination">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
  <span>{{ currentPage }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>
<div class="extra-space"></div>